<div class="container d-flex flex-column justify-content-center row-gap-2" id="broadcast">
    {% for data in dev_data_list %}
        {% if data.power > 20 %}
            <div class="d-flex flex-row bg-success border border-black text-white">
                <div class="border mx-auto p-2">UUID: {{data.uuid}}</div>
                <div class="border mx-auto p-2">Time: {{data.epoch}}</div>
                <div class="border mx-auto p-2">Temp: {{data.temp}}</div>
                <div class="border mx-auto p-2">Humidity: {{data.humidity}}</div>
                <div class="border mx-auto p-2">Power: {{data.power}}</div>
            </div>
        {% else %}
            <div class="d-flex flex-row bg-danger border border-black text-white">
                <div class="border mx-auto p-2">UUID: {{data.uuid}}</div>
                <div class="border mx-auto p-2">Time: {{data.epoch}}</div>
                <div class="border mx-auto p-2">Temp: {{data.temp}}</div>
                <div class="border mx-auto p-2">Humidity: {{data.humidity}}</div>
                <div class="border mx-auto p-2">Power: {{data.power}}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>